
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');


.loginFormWrapper {
    position: relative;
    overflow: hidden;
    padding: 20px 30px 30px 30px;
    margin: auto;
    border-radius: 50px;
    width: 100%;
    max-width: 360px;
    z-index: 10;
}

.loginFormBackground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
}

.loginFormContent {
    position: relative;
    z-index: 3;
}

.loginTitle {
    font-size: 40px;
    font-weight: 900;
    font-family: "Google Sans Flex", sans-serif;
    color: var(--color-just-black);
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.loginForm { width: 100%; }

.loginError {
    color: #ff4d4d;
    background-color: rgba(47, 27, 29, 1);
    border: 1px solid rgba(255, 138, 138, 0.3);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 16px;
    font-size: 14px;
}

.loginInputGroup { margin-bottom: 20px; text-align: left; }

.loginLabel {
    display: block; margin-bottom: 8px; font-size: 14px; font-weight: 600; color: var(--color-just-black);
}

.passwordWrapper { position: relative; display: flex; align-items: center; }

.loginInput {
    width: 100%; padding: 20px 40px 12px 0px;
    border:none;
    border-bottom: 1px solid var(--color-just-black); background-color: transparent;
    font-family: "Google Sans Flex", sans-serif;
    color: var(--color-just-black); font-size: 18px; font-weight: 600;
    box-sizing: border-box; outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.loginInput:focus { font-size: 18px;
    border:none; border-bottom: 1px solid var(--color-lt-green);  }

.togglePasswordBtn {
    position: absolute; right: 0px; top: 50%; transform: translateY(-50%);
    background: transparent; border: none; cursor: pointer; padding: 4px;
    display: flex; align-items: center; justify-content: center; color: #888;
}
.togglePasswordBtn:hover { color: #f5f5f5; }

.loginButton {
    width: 60%; padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    background: var(--gradient-macha);
    font-family: "MuseoModerno", sans-serif;
    color: var(--color-just-black);
    border: none; border-radius: 30px; cursor: pointer;
    font-size: 18px; font-weight: 700; margin-top: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.loginLinkText { margin-top: 24px; font-size: 14px; color: #aaa; }
.loginLink { font-family: "Google Sans Flex", sans-serif; margin-left: 2px; color: var(--color-shockingly-green); font-weight: 900; text-decoration: none; }

.forgotPasswordWrapper {
    width: 100%; display: flex; justify-content: flex-end; margin-bottom: 10px;
}
.forgotPasswordLink {
    font-family: "Google Sans Flex", sans-serif; font-weight: 600;  color: var(--color-shockingly-green); cursor: pointer; font-size: 14px; text-decoration: none;
}

@media (max-width: 480px) {
    .loginFormWrapper { padding: 24px; border-radius: 30px; }
    .loginTitle { font-size: 24px; }
}