@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700;900&display=swap');

.authContainer {
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 0;
    font-family: 'Noto Sans Japanese', sans-serif;
    display: flex;
    flex-direction: column;
}

.leftSideOverlay {
    padding: 20px;
    padding-right: 0;
}

.leftSide {
    display: none;
    background-color: #030303;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.leftSideContent {
    z-index: 2;
    text-align: center;
    color: #f5f5f5;
}

.leftSideTitle {
    font-size: 4rem;
    font-weight: 900;
    color: #f5f5f5;
    margin-bottom: 0;
    letter-spacing: -2px;
}

.leftSideSubtitle {
    font-size: 1.2rem;
    color: #95D600;
    font-weight: 600;
}

/* --- BÊN PHẢI (CHỨA FORM ĐỘNG) --- */
.rightSide {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 20px;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .authContainer {
        display: grid;
        grid-template-columns: 3fr 2fr;
        height: 100vh;
        overflow: hidden;
    }

    .leftSide {
        display: flex;
        height: 100%;
    }

    .rightSide {
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #111 0%, #161616 100%);
    }
}