@import url('https://fonts.googleapis.com/css2?family=Googlew+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
    --color-surface-white: #ffffff;
    --color-surface75: rgba(255, 255, 255, 0.3);
    --color-just-black: #0e100f;
    --color-lt-green: #bfff00; /* Màu xanh sáng khi focus */
    --color-shockingly-green: #95d600; /* Màu link */
    --gradient-macha: linear-gradient(90deg, #95d600 0%, #bfff00 100%);
}

body {
    margin: 0;
    font-family: "Google Sans Flex", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
